* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

#jqt {
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Helvetica Neue", Helvetica;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

#jqt a {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
}

#jqt > * {
  display: block;
  left: 0;
  top: 0;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  z-index: 0;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

#jqt > .current {
  z-index: 10;
}

#jqt > *:not(.current):not(.in):not(.out) {
  display: none;
}

 #jqt.touchscroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#jqt.touchscroll > * {
  height: 100%;
}

#jqt.touchscroll .scroll {
  position: relative;
  -webkit-box-flex: 1;
  box-flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
} 

#jqt.touchscroll .scroll {
  overflow-y: scroll;
}

#jqt .scroll {
  -webkit-margin-collapse: separate;
}

body {
  background: black;
}


#jqt > * {
  background-color: #1f1f1f;
}

#jqt h1 {
  font: bold 18px "Helvetica Neue", Helvetica;
  margin: 10px 20px 6px;
  color: #888888;
    
}

#jqt .toolbar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #1a1a1a;
  z-index: 10;
  position: relative;
  padding: 10px;
  height: 44px;
}

#jqt .toolbar > h1 {
  position: absolute;
  overflow: hidden;
  left: 50%;
  bottom: 9px;
  margin: 1px 0 0 -75px;
  width: 150px;
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.3em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #a0a0a0;
}

#jqt .button, #jqt .back {
  position: absolute;
  overflow: hidden;
  width: auto;
  height: 30px;
  font-family: inherit;
  font-size: 12px;
  line-height: 30px;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  background: none;
  bottom: 6px;
  margin: 0;
  padding-inline: 10px;
  color: #a0a0a0;
  right: 10px;
  border: 1px solid #a0a0a0;
  background-color: #a2a2a200;
}

#jqt .leftButton, #jqt .back {
  left: 10px;
  right: auto;
}

#jqt ul {
  padding: 0;
  margin: 5px 25px 10px 25px;
}

#jqt ul, #jqt ul.individual li {
  background-color: #1a1a1a;
  color: #b4b4b4;
  border: 1px solid #393939;
  line-height: 1.5;
}

#jqt ul:first-child {
  margin-top: 15px;
}

#jqt ul li {
  list-style-type: none;
  overflow: hidden;
  padding: 10px;
  position: relative;
}

#jqt ul li a {
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 10px;
  margin: -10px;
  color: #b4b4b4;
      
}

#jqt ul li ::-webkit-input-placeholder {
  color: #aeaeae;
    
}
#jqt .si,
#jqt ul li textarea,
#jqt ul li select {
  color: #ffffff;
  background-color: #585858;
  border: 1px solid #393939;
  padding: 5px;
  display: inline-block;
  margin-left: 0px;
  width: 100%;
 }

#jqt ul li textarea {
  height: 120px;
  padding: 0;
  text-indent: -2px;
}

#jqt ul li input[type="checkbox"] {
  margin: 0;
  padding: 10px;
}

#jqt ul li input[type="checkbox"]:after {
  content: attr(title);
  position: absolute;
  display: block;
  width: 0;
  left: 21px;
  top: 12px;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 17px;
  line-height: 21px;
  width: 246px;
  margin: 0 0 0 17px;
  color: #151515;
    
}

#jqt ul.individual {
  border: 0;
  background: none;
  clear: both;
  overflow: hidden;
}

#jqt ul.individual li {
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
  box-sizing: border-box;
  width: 140px;
  height: 220px;
  padding: 0;
  display: inline-block;
  margin: 7px ;
}

#jqt ul.individual a {
  line-height: 16px;
  margin: -11px -10px -14px -10px;
  padding: 11px 10px 14px 10px;
  padding: 0;
  margin: 0;
}
#jqt ul.individual img {
  width: 100%;
  height: 100%;
  background-color:#ffffff;
}
#jqt ul.individual p {
    position: relative;
    bottom: 50;
    padding: 15 5 5 5;
    /* background-color: #151515ee; */
    background-image: linear-gradient(
0deg
, #151515ee , transparent );
    color: white;
text-align: left;
text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
}
#jqt span.toggle {
  width: 94px;
  position: relative;
  height: 27px;
  display: block;
  overflow: hidden;
  float: right;
}

#jqt span.toggle input[type="checkbox"] {
  margin: 0;
  height: 27px;
  overflow: hidden;
  width: 149px;
  border: 0;
  -moz-transition: left 0.15s ease-in-out;
  -o-transition: left 0.15s ease-in-out;
  -webkit-transition: left 0.15s ease-in-out;
  transition: left 0.15s ease-in-out;
  position: absolute;
  top: 0;
  left: -55px;
}

#jqt span.toggle input[type="checkbox"]:checked {
  left: 0px;
}

#jqt .info {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444;
  padding: 15px;
  font-weight: bold;
}

#jqt ul li input[type="text"],
#jqt ul li input[type="password"],
#jqt ul li input[type="search"],
#jqt ul li input[type="email"],
#jqt .si,
#jqt ul li textarea,
#jqt ul li select {
  color: #ffffff;
  background-color: #585858;
  border: 1px solid #393939;
  padding: 5px;
  display: inline-block;
  margin-left: 0px;
  width: 100%;
  -webkit-appearance: textarea;
}
#jqt .button.active, #jqt .back.active {
  border-color: #626262;
  background-image: none;
  background-color: #959595;
  color: black;
}
#jqt ul li input[type="text"]:focus,
#jqt ul li input[type="password"]:focus,
#jqt ul li input[type="search"]:focus,
#jqt ul li input[type="email"]:focus,
#jqt ul li textarea:focus,
#jqt .si:focus{
  background-color: #444;
}
#jqt ul li a.active, #jqt ul li a.selected {
  background-image: none;
  background-color: #f6f6f6;
  color: #1d1d1d;
    
}

#jqt .edit {
  width: 320px;
  margin: 15px auto;
  margin-top: 15px;
  padding-top: 15px;
}

#jqt .searchbtn {
  right: 20%;border: none;
}

@media (max-width: 600px) {
  #jqt .searchbtn {
    border: 1px solid #a0a0a0;
    right: 70;
  }
  #jqt .si {
    display: none;
  }
}
