<div id="get">
    <div class="toolbar">
        <h1>Manga name</h1>
        <a class="back" href="#">Back</a>
    </div>
    <div class="info">
        <div><img style="float: left;max-width: 240px;" width="30%" 
                src='./img/photo_2021-03-17_16-48-47.jpg'></div>
        <div style="min-width: 240px;margin-top: 10%;">
            <h1>manga name</h1>
            <hr>
            <p style="margin: 10px;color: #b4b4b4;">manga description</p>
            <ul id="mangainfo" style="margin-left: 40%;"><li>Authur: test</li>
<li>Genre: Action</li><li>Rating: 9.4/10</li>
                <li>Ongoing</li>
                <li>Last updated 30 minutes ago</li>
                <li>Published on 21 Augus 2018</li> 

                </ul>
            <h1 style="float:right; position: relative; bottom: 10px;"> 10 chapters</h1>
        </div>
      <style>#jqt #mangainfo li {padding: 2px;}</style>

    </div>  <ul><li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li></ul>

</div>
